<!DOCTYPE html>
<html>
    <head> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </head>
    <body>
      <!-- NAVBAR -->
      <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand"> </a>
          <a class="navbar-brand"><h1>IMPOSTAZIONI SEMAFORO</h1></a>
          <a class="navbar-brand"> </a>
        </div>
      </nav>
      <!-- SPAZIO -->
      <br/>
      <br/>
      <!-- FORM -->
      <div class="row align-items-center">
        <div class="col">
        </div>
        <div class="col">
          <form action="" method="POST">
            <div class="input-group mb-3">
              verde:<input type="text" class="form-control" value="1" name="verde" placeholder="1" aria-label="1" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
              giallo:<input type="text" class="form-control" value="1" name="giallo" placeholder="1" aria-label="1" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
              rosso:<input type="text" class="form-control" value="1" name="rosso" placeholder="1" aria-label="1" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
              intervallo:<input type="text" class="form-control" value="1" name="intervallo" placeholder="1" aria-label="1" aria-describedby="basic-addon1">
            </div>
            <select class="form-select" aria-label="Stato" name="stato">
              <option selected value="2">Acceso</option>
              <option value="1">Spento</option>
            </select>
            <br/>
              <input class="btn btn-primary" type="submit" value="aggiorna">
          </form>
        </div>
        <div class="col">
        </div>
      </div>     
    </body>
</html>